erl_crash.dump
.sw?
.*.sw?
/deps
/_build
/_checkouts
/doc/*
!/doc/_head.html
!/doc/horus-favicon.svg
!/doc/horus-logo.svg
!/doc/horus-social-preview.svg
!/doc/horus-social-preview.png
!/doc/overview.edoc
!/doc/stylesheet.css
/mix.lock
/nonode@nohost/
